# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
/target/
/.classpath
/.project
.project
/.settings
/bin/
.DS_Store
target
.classpath
.settings
/.idea
*.iml
*.iws
classes/
out/
logs/
out
gen### Java template
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
